
#wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  
  #header {
      float: left;
      width: 100%;
      height: 165px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #header_in {
      width: 1000px;
      height: 120px;
  }

  #header_in .info_area {
        width: 100%;
        height: 15px;
        display: flex;
        justify-content: flex-end;
        padding: 5px 0 0 0;
      }

  #header_in .info_mn {
        display: flex;
        width: 300px;
        justify-content: space-between;
  }

  #header_in .info_mn a {
        color: #333;
        box-sizing: border-box;
        padding-right: 12px;
        border-right: 1px solid #333;
        font-size: 11px;
  }

  #header_in .info_mn .nav_last_a {
      border-right: 0px;
  }

  #header_in .header_in_b {
        padding-top: 20px;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
  }
  #header_in .logo {
        width: 240px;
        height: 70px;
        padding-top: 16px;
  }
  #header_in .logo img {
      width: 100%;
  }
  #header_in .h_group {
      width: 650px;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;

  }

  #header_in .h_group .q_mn {
        width: 100px;
        margin-left:150px ;
        display: flex;
        justify-content: space-between;
  }

  #header_in .h_group .input {
        width: 260px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(237, 231, 231);
        margin: 0 0 0 20px;
        
  }

  #header_in .h_group .input span {
        padding: 4px 0 0 4px;
  }
  #header_in .h_group .latest {
      margin: 0 0 0 15px;
  }

  #nav {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center;
      background: url(../images/nav_area.jpg) no-repeat 50% 0;
  }

  #nav ul {
      display: flex;
  }

  /* 메인이미지 */
  #main_img {
        width: 100%;
        height: 460px;
        background: url(../images/main_img.jpg) no-repeat 50% 0;
  }

  /* 내용부분 */
  #contents {
        width: 100%;
        padding-top: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
  }

  #contents .item {
        width: 1000px;
        height: 260px;
        display: flex;
        justify-content: space-between;
  }

  #contents .item .item_l{
        width: 175px;
        height: 260px;
  }

  #contents .item .item_l h3 {
        padding: 10px 0;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        font-size: 28px;
        font-weight: 900;
  }
  #contents .item_l ul {
        margin-top: 30px;
  }
  #contents .item_l ul li {
        margin-bottom: 15px;

  }
  #contents .item_l ul li a{
        font-size: 15px;
        font-weight: 700;
  }

  #contents .item_l ul li a:hover {
        color: orange;
        text-decoration: underline;
  }


  #contents .item .item_r{
        width: 800px;
        height: 260px;
        
  }

  #contents .item .item_r ul{
      display: flex;
      justify-content: space-between;
  }

  #contents .item .item_r li {
      width: 190px;
      height: 260px;
      border: 1px solid #555;
  }

  #contents .item .item_r li img {
        border-bottom: 1px solid #555;
        width: 100%;
  }

  #contents .item .item_r li h4 {
        font-size: 12px;
        padding: 16px 0 0 15px;
  }
  #contents .item .item_r li p {
      font-size: 12px;
      padding: 10px 0 0 15px;
  }

  #contents .go_btn {
        width: 1000px;
        height: 280px;
        margin-top: 45px;
  }

  #contents .go_btn ul {
      display: flex;
      justify-content: space-between;
  }

  #contents .go_btn li {
      width: 320px;
      height: 280px;
  }

  #contents .go_btn li img {
        width: 100%;
  }

  #contents .movie {
        width: 100%;
        height: 300px;
        margin-top: 40px;
        background: url(../images/movie.png) no-repeat 50% 0;
  }
  #contents .style {
      width: 1000px;
      height: 260px;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
  }

  #contents .style .style_l{
      width: 175px;
      height: 260px;
}

#contents .style .style_l h3 {
      padding: 10px 0;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      font-size: 28px;
      font-weight: 900;
}
#contents .style_l ul {
      margin-top: 30px;
}
#contents .style_l ul li {
      margin-bottom: 15px;

}
#contents .style_l ul li a{
      font-size: 15px;
      font-weight: 700;
}

#contents .style_l ul li a:hover {
      color: orange;
      text-decoration: unsderline;
}

#contents .style .style_r{
      width: 800px;
      height: 260px;
      
}

#contents .style .style_r ul{
    display: flex;
    justify-content: space-between;
}

#contents .style .style_r li {
    width: 190px;
    height: 260px;
    border: 1px solid #555;
}

#contents .style .style_r li img {
      border-bottom: 1px solid #555;
      width: 100%;
}

#contents .style .style_r li h4 {
      font-size: 12px;
      padding: 16px 0 0 15px;
}
#contents .style .style_r li p {
    font-size: 12px;
    padding: 10px 0 0 15px;
}

  #contents .banner {
        width: 1000px;
        height: 400px;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
  }
  #contents .banner .group {
        width: 490px;
        height: 400px
  }
  #contents .banner .group > div {
        width: 100%;
        height: 190px;
  }
  #contents .banner .group>div.img01-1 {
        margin-bottom: 15px;
  }
  #contents .banner .img02 {
        width: 495px;
        height: 400px;
        border-left: 1px solid #333;
  }
  #contents .info {
        width: 100%;
        height: 160px;
        margin-top: 80px;
        background: url(../images/footer_top_bg.jpg);

  }

  #contents .info .info_h {
        width: 100%;
        height: 110px;
        display: flex;
  }
  #contents .info .info_h .info_h1  {
        width: 450px;
        

  }
  #contents .info .info_h .info_h2  {
        width: 500px;
        
  }
  #contents .info .info_h .info_h3  {
        width: 900px;
  }

  #contents .info .info_b {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50px;
  }
  #contents .info .info_b h3 {
        color: white;
        font-size: 15px;
  }
  #contents .info .info_b p {
      color: white;
  }
  #contents .info .span {
        display: flex;
        justify-content: flex-end;
        
  }
  #contents .info .info_b span {
        color: white;

  }


  /* 하단 */
  #footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
  }
  #footer .footer_h {
        box-sizing: border-box;
        width: 1000px;
        height: 290px;
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
        
  }

  #footer .footer_h_ul h3{
        margin-bottom: 8px ;
  }
  #footer .footer_h_box {
        width: 240px;
        height: 290px;
        
        background-color: blue;
        color: red;
        font-size: 30px;
        text-align: center;
  }
  #footer .footer_b {
        width: 1000px;
        height: 145px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
  }

  #footer .footer_b_a {
        width: 620px;
        height: 145px;
        font-size: 100px;
        text-align: center;
  }

  #footer .footer-r {
        width: 160px;
        height: 145px;
  }

  #footer .footer-r .f_button {
        padding-top: 35px;
        display: flex;
  }

  #footer .footer-r .f_button li {
        margin-right: 5px;
  }

  #footer .footer-r .f-input {
        width: 150px;
        height: 30px;
        margin-top: 4px;
        padding-top: 5px;
        box-sizing: border-box;
        border: 1px solid #555;
        color: black;
  }

  #footer .footer-r .f-input span {
        padding-top: 10px;
        
  }


  