@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    color: #555;
}

img {
    border: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}