#wrap {
    width: 100%;
}

#header {
    float: left;
    width: 100%;
    height: 165px;
}

#header_top {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 120px;
}

#header_top .logo {
    float: left;
    margin: 50px 0 0 10px;
}

#header_top .q_mn {
    float: left;
    margin: 50px 0 0 150px;
}

#header_top .q_mn li {
    float: left;
    margin-right: 20px;
}

#header_top .q_mn li:last-child {
    margin-right: 0px;
}

#header_top .q_mn li a {
    font-size: 15px;
}

#header_top .input_box {
    float: left;
    margin: 50px 0 0 20px;
    width: 260px;
    height: 25px;
    background-color: #ccc;
    line-height: 25px;
    padding-left: 10px;
}

#header_top .input_box>span {
    float: left;
}

#header_top .input_box>a {
    float: right;
}

#header_top .info_mn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#header_top .info_mn li {
    /* display: inline; */
    float: left;
    border-right: 1px solid #555;
    padding-right: 10px;
    margin-right: 10px;
    line-height: 10px;
}

#header_top .info_mn li:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

#header_top .info_mn a {
    font-size: 10px;
}


#header_mn {
    width: 100%;
    height: 45px;
    background-image: url(../images/nav_area.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
}

#header_mn ul {
    margin: 0 auto;
    width: 1005px;
    font-size: 0;
}

#header_mn ul li {
    display: inline;
}

#main_img {
    float: left;
    width: 100%;
    height: 450px;
    background: url(../images/main_img.jpg) 50% 0 no-repeat;
}

#contents {
    float: left;
    width: 100%;

    background-color: chocolate;
}

#contents .item {
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 250px;
    background-color: brown;
}

#contents .banner {
    margin: 0 auto;
    margin-top: 45px;
    width: 1000px;
    height: 280px;
    background-color: brown;
}

#contents .movie {
    margin-top: 40px;
    width: 100%;
    height: 300px;
    background-color: brown;
}

#contents .style {
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 250px;
    background-color: brown;
}

#contents .go_btn {
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 395px;
    background-color: brown;
}

#contents .info_area {
    margin: 0 auto;
    margin-top: 70px;
    width: 100%;
    height: 160px;
    background-color: brown;
}

#footer {
    float: left;
    width: 100%;
    height: 430px;
    background-color: darkmagenta;
}
